.articles-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 colonnes */
  gap: 20px;
  margin: 30px;
}

.article-card {
  background-color: rgb(226, 226, 226);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}


mat-card:hover {
  background-color: rgb(150, 150, 150);;
}
mat-card-title {
  font-size: 18px;
  font-weight: bold;
}

.article-meta {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-size: 14px;
}

.article-date {
  text-align: left;
}

.article-author {
  text-align: right;
}

mat-card-content {
  padding: 15px;
  font-size: 16px;
}

mat-card-actions {
  text-align: center;
}